html {
    font-size: 20px;
}

body {
    font-size: 1rem;
    margin: 2rem auto;
    max-width: 1080px;
}

.demo-heading {

}

.demo-row {
    flex-direction: row;
    display: flex;
    gap: 2rem;
}

iframe {
    border: 0;
    height: 180px;
    width: 180px;
}

.visually-hidden, .sr-only {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
