/* PANEL */
.dpab__panel {
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 1em;
    position: fixed;
    right: 2em;
    top: 2em;
    width: 300px;
    z-index: 99999;

    p {
        margin-top: 0;
    }

    ol {
        margin-bottom: 0;
    }
}

.dpab__panel--open {
    display: block;
}

.dpab__close {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: inherit;
    height: 1.5em;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.5em;
}

.dpab__marker {
    background-color: yellow;
    color: black;
    font-family: monospace;
    font-size: 12px;
    font-weight: 300;
}

/* IMAGES */
.dpab__image {
    display: inline-block;
    outline-style: dashed;
    outline-width: 3px;
    position: relative;

    .dpab__marker {
        position: absolute;
    }
}

.dpab__image--valid {
    outline-color: green;
}

.dpab__image--invalid {
    outline-color: red;
}
