@import url('demo.css');

:root {
    --dpab-valid-bg: green;
    --dpab-valid-fg: white;
    --dpab-invalid-bg: red;
    --dpab-invalid-fg: white;
}

/* PANEL */
.dpab__panel {
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 1em;
    position: fixed;
    right: 2em;
    top: 2em;
    width: 300px;
    z-index: 99999;

    p {
        margin-top: 0;
    }

    button {
        cursor: pointer;
    }
}

.dpab__panel--open {
    display: block;
}

.dpab__close {
    align-items: center;
    border: 0;
    display: flex;
    font-size: inherit;
    height: 1.5em;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.5em;
}

.dpab__download {
    font-size: inherit;
}

/* GENERIC */
.dpab__wrapper {
    display: inline-block;
    outline-style: dashed;
    outline-width: 2px;
    position: relative;
}

.dpab__marker, .dpab__accessible-content {
    font-family: monospace;
    font-size: 12px;
}

.dpab__marker {
    background-color: black;
    color: white;
    padding: 2px;
    position: absolute;
}

.dpab__accessible-content {
    background-color: white;
    color: black;
    display: block;
    word-break: break-all;
}

.dpab__wrapper--valid {
    outline-color: var(--dpab-valid-bg);

    .dpab__marker {
        background-color: var(--dpab-valid-bg);
        color: var(--dpab-valid-fg);
    }
}

.dpab__wrapper--invalid {
    outline-color: var(--dpab-invalid-bg);

    .dpab__marker {
        background-color: var(--dpab-invalid-bg);
        color: var(--dpab-invalid-fg);
    }
}
