@use "vars";

#{vars.$panel} {
    @extend %panel;
    display: none;
    position: fixed;
    right: 2em;
    top: 2em;

    &--open {
        display: block;
    }

    &__close {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: inherit;
        height: 1.5em;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 1.5em;
    }

    p {
        margin-top: 0;
    }
}

//.dpab__download {
//    font-size: inherit;
//}
