@use "vars";

.visually-hidden, .sr-only {
    &#{vars.$class}-visually-hidden-preview {
        border: inherit !important;
        clip: inherit !important;
        height: inherit !important;
        margin: inherit !important;
        overflow: inherit !important;
        padding: inherit !important;
        position: inherit !important;
        white-space: inherit !important;
        width: inherit !important;

        &::before {
            content: '[';
        }

        &::after {
            content: ']';
        }
    }
}
